<aside id="players" class="app {{#if hide}}hidden{{/if}}">
    <h3>
        <i class="fas fa-users"></i>
        {{ localize "PLAYERS.Title" }}
        {{#if showOffline}}
        <i class="players-mode fas fa-angle-down"></i>
        {{else}}
        <i class="players-mode fas fa-angle-up"></i>
        {{/if}}
    </h3>

    <ol id="player-list">
        {{#each users as |user|}}
        <li class="player {{#if user.isGM}}gm{{/if}} flexrow" data-user-id="{{user._id}}">
			<span class="player-active {{#if user.active}}active{{else}}inactive{{/if}}"
                  style="background: {{user.color}}; border: 1px solid {{user.border.css}}"></span>
            <span class="player-name {{#if user.isSelf}}self{{/if}}">
				{{user.name}}
				{{#if user.charname}} [{{user.charname}}] {{/if}}
			</span>
        </li>
        {{/each}}
    </ol>
</aside>
